@media screen and (max-width: 1600px) {
  #experience {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 1400px) {
  #profile {
    height: auto;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #experience {
    margin-top: 10rem;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience {
    margin-top: 4rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: block;
    right: 1rem;
    bottom: 1.5rem;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
    padding: 4rem 0;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
 #contact {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .contact-info-upper-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact-info-container {
   flex: 1 1 calc(50% - 20px);
  }
  #profile {
    height: auto;
    margin-bottom: 0;
    padding-top: 2rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 280px;
    justify-content: center;
    padding: auto;
    margin-top: 10%;
    position: relative;
  }

  .footer-bottom-line
  {
    height: 1px;
    margin-top: auto;
  }
  .nav-links-container{
      display:flex;
      flex-direction:column;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-img {
    width: 80%;
  }
  .details-container {
    min-height: auto;
  }
  .menu-links {
/*     width: 100%;
    left: 0; */
  }
}





@media (max-width: 768px) {
  .recommendations-container {
    grid-template-columns: 1fr;
  }
  
  .recommendation-card {
    padding: 1.2rem;
  }
  
  .recommendation-img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .recommendation-header {
    flex-direction: column;
    text-align: center;
  }
  
  .recommendation-info {
    text-align: center;
  }
}